@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: "Source Sans Pro", sans-serif;
}

[v-cloak] {
  display: none;
}

.header {
  width: 45vw;
  height: 180px;
  background-color: #dee5eb;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  color: #2b2b2b;
  padding: 40px 0 20px 0;
  font-size: 50px;
  letter-spacing: 2px;
}
.input-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.input {
  font-size: 20px;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 20px;
  height: 38px;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2b2b2b;
}

.list {
  width: 45vw;
}

.list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 38px;
  font-size: 18px;
  padding: 0 0 0 25px;
  color: #2b2b2b;
}
.list-item-text {
  width: 40vw;
}

.list-item:nth-child(even) {
  background-color: #eef6fd;
}

.list-item:hover {
  background-color: #e3f1ff;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn {
  padding: 5px;
  height: 38px;
  margin-right: 20px;
  border: none;
  outline: none;
  background-color: #2a384c;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 17px;
}

.add-btn:hover {
  background-color: #6482ab;
}

.input:focus {
  background-color: #ebf4fe;
}

.close {
  float: right;
  height: 100%;
  font-size: 18px;
  padding: 0 15px;
  background-color: #b0c3d4;
  color: #2b2b2b;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}

.close:hover {
  background-color: #fbfdff;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: #dee5eb;
  border-radius: 50%;
  appearance: none;
  background-image: url(./checkmark.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.1s;
  background-size: 0;
  margin-right: 15px;
}

.checkbox:hover {
  background-color: #2a384c;
}

.checkbox:checked {
  background-size: 24px;
}

.checkbox:checked + span {
  text-decoration: line-through;
  color: #4c6991;
}
